/* Reset default margin and padding */
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.name{
    padding-left: 4%;
    padding-top:2%;
    padding-bottom: 2%;
}

.header {

    top: 0;
    width: 100%;
    background-color: #333;
    color: aliceblue;
    height: 30%;
}

.single {
    flex: 1;
    padding: 10%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: block;
}

.color  {
    background:#999;
    color:#fff;
    padding: 5%;
}

.double {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: row;
    flex: 1;
}

.element {
    flex: 1;
    width: 50%;
    text-align: center;
}

/* Apply styles to the horizontal menu */
.horizontal-menu {
    list-style: none;
    display: flex;
}

.horizontal-menu li {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.horizontal-menu li a {
    text-decoration: none;
    color: white;
    font-weight:lighter;
    transition: background-color 0.3s;
}

.horizontal-menu li:hover {
    background-color: #555;
}

.horizontal-menu li.active {
    color: #fff;
    transition: background-color 0.3s; 
    background-color: #555;
}

/* carousel */
.carousel {
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease-in-out;
}
img {
    flex: 1;
    width:50%;
    height: 10%;
}