/* Reset default margin and padding */
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

.name {
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.header {
    top: 0;
    width: 100%;
    background-color: #333;
    color: aliceblue;
    height: 30%;
}

.single {
    display: flex;
    flex: 1;
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.double {
    display: flex;
    flex: 1;
    padding: 0%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.color {
    background: #999;
    color: #fff;
}

.element {
    flex: 1;
    text-align: center;
    width: 50%;
    height: 300px;
}

/* Apply styles to the horizontal menu */
.horizontal-menu {
    display: flex;
}

.horizontal-menu li {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.horizontal-menu li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.horizontal-menu li:hover {
    background-color: #555;
    transition: background-color 0.3s;
}

.horizontal-menu li.active {
    color: #fff;
    background-color: #555;
}

/* Slideshow */
.slideshow {
    width: 50%;
    height: 100%;
    display: flex;
    animation: bg-slide 10s linear infinite;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@keyframes bg-slide {
    0%{
        background-image: url('/images/etl.jpg');
    }
    20%{
        background-image: url('/images/er.png');
    }
    40%{
        background-image: url('/images/etl.jpg');
    }
    60%{
        background-image: url('/images/etl.jpg');
    }
    80%{
        background-image: url('/images/pipeline.png');
    }
    100%{
        background-image: url('/images/tunning.jpg');
    }
    
}